@charset "UTF-8";
@font-face {
    font-family: changa-one-italic;
    src: url('fontes/Changa_One/ChangaOne-Italic.ttf');
}
@font-face {
    font-family: changa-one-regular;
    src: url('fontes/Changa_One/ChangaOne-Regular.ttf');
}

:root{
    --fonte-padrao: 'Arial', 'sans serif';
    --fonte-italic: 'changa-one-italic';
    --fonte-regular: 'changa-one-regular'; 
}

*{
    margin: 0px;
    padding: 0px;
    
}
html body{
    min-height: 100vh;
    border: 1px solid black;
}
p{
    padding-left: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
    font-weight: 100;
    font-family: var(--fonte-italic);
    line-height: 2em;

}
header{
    min-height: 200px;
    background-color: black;
    font-family: var(--fonte-regular);
    color: white;
    text-align: center;
}
header h1{
    padding-top: 50px;
    font-size: 3em;
}

header a{
    text-decoration: none;
    color: aliceblue;
    font-weight: bolder;
}

#link_autor:hover{
    text-decoration: underline;
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
}
.sec1{
    background-color: white;
}

.sec2{
    background-color: black;
    background-image: url('imagens/background001.jpg');
    background-position: right center;
    background-size:100% 100%;
    min-height: 350px;
    position: relative;
    background-repeat: no-repeat;
}
.pagarafo_sec2{
    color: white;
    background-color: rgba(0, 0, 0, 0.13);
    padding: 15px;
    position: absolute;
    box-shadow: 3px 2px 2px rgba(0, 0, 0, 0.363);
    
}
footer{
    background-color: wheat;
    text-align: center;
}
footer a{
    text-decoration: none;
    color: black;
}
footer a:hover{
    text-decoration: underline;
}