@charset "UTF-8";
@font-face {
    font-family: changa-one-italic;
    src: url('fontes/Changa_One/ChangaOne-Italic.ttf');
}
@font-face {
    font-family: changa-one-regular;
    src: url('fontes/Changa_One/ChangaOne-Regular.ttf');
}

:root{
    --fonte-padrao: 'Arial', 'sans serif';
    --fonte-italic: 'changa-one-italic';
    --fonte-regular: 'changa-one-regular'; 
}

*{
    margin: 0px;
    padding: 0px;
    font-size: 3vh;
    
}
html body{
    min-height: 100vh;
    border: 1px solid black;
}
p{
    padding-left: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
    font-weight: 100;
    font-family: var(--fonte-italic);
    line-height: 2.5em;
    margin-left: 20px;

}
header{
    min-height: 200px;
    background-color: black;
    font-family: var(--fonte-regular);
    color: white;
    text-align: center;
}
header h1{
    padding-top: 50px;
    font-size: 10vh;
}

header a{
    text-decoration: none;
    color: aliceblue;
    font-weight: bolder;
}

#link_autor:hover{
    text-decoration: underline;
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
}
.imagem{
    background-color: rgb(59, 59, 59);
    color: white;
    box-shadow: 6px 6px 13px 0px rgba(0, 0, 0, 0.466);
    
}
.normal{
    background-color: white;
    color: black;
}

.imagem  p{
    background-color: rgba(0, 0, 0, 0.329);
    display: inline-block;
    padding: 30px;
    margin-left: 20px;
}
#imagem_1{
    background: url('imagens/background001.jpg');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
    
}
#imagem_2{
    background: url('imagens/background002.jpg');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
}



footer{
    background-color: wheat;
    text-align: center;
}
footer a{
    text-decoration: none;
    color: black;
}
footer a:hover{
    text-decoration: underline;
}