@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url('imagens/wallpaper002.jpg');
    display: flex;
    justify-content: center;
}
.quadrado{
    display:inline-block;
    border: 2px solid black;
    border-radius: 10px;
    margin: 4px;
    background-color: beige;
    width: 220px;
    height: 220px;
}

#q1{
    background-color: skyblue;
}

#q2{
    background-image: linear-gradient(to bottom, blue, gray);
}

#q3{
    background-image: url('imagens/pattern003.png');
}