@charset "UTF-8";


*{
    border: 0px;
    padding: 0px;
    margin: 0px;
}
html, body{
    background-color: black;
    height: 100vh;
    width: 100vw;
}

body{
    background-image: url('imagens/fundo-madeira.jpg');
    background-repeat:  no-repeat;
    background-size: cover;
    position: relative;
}

#celular{
    background-image: url('imagens/frame-iphone.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 627px;
    width: 311px;

    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#icones_linkados{
    text-align: right;
    
}

#icones_linkados img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 8px;
    box-sizing: border-box;    
}

#icones_linkados img:hover{
    border: 3px solid rgba(255, 255, 255, 0.603);
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.363);
    transform: translate(-5px, -5px);
    transition: transform 0.5s, border 0.3s;

}


iframe#tela1{
    position: relative;
    top: 79px;
    left: 21px;

    height: 473px;
    width: 268px;
}

